<div class="welcome-container">
  <h1 class="welcome-h1">Welcome to budget app!</h1>
  <div class="button-control">
    <button class="log-btn">
      <%= link_to "LOG IN", new_user_session_path, class: 'submit-btn' %>
    </button>
    <button class="sign-btn">
      <%= link_to "SIGN UP", new_user_registration_path, class: 'submit-btn' %>
    </button>
  </div>
</div>